<h1 id='titleOne'>{{title}}</h1>
<p id='welcomeSign'>Welcome to {{title}}</p>
<div class='wholeIndex'>


    <div class='boardPic'>
        <a href="/decks">
            <img src="https://i.imgur.com/GbXrIkG.png" title="source: imgur.com" />
            <h2>Decks</h2>
        </a>
        <div class="decksCard">
            <form action="/users/{{userId}}/myBoard/{{complete._id}}/decks" method="POST">
                <h2></h2>
                <div class="form-input">

                    <label for="company">Company</label>
                    <br>
                    <select name="Company" id="deckCompany">
                        <option value=""></option>
                        <option value="real">Real Skateboards</option>
                        <option value="baker">Baker</option>
                        <option value="flip">Flip</option>
                        <option value="girl">Girl Skateboards</option>
                    </select>

                </div>
                <div class="form-input">
                    <label for="size">Size</label>
                    <br>
                    <select name="Size" id="deckSize">
                        <option value=""></option>
                        <option value="7.5">7.5</option>
                        <option value="7.8">7.8</option>
                        <option value="8.0">8.0</option>
                        <option value="8.25">8.25</option>
                    </select>
                </div>
                <div class="form-input">
                    <label for="shape">Shape</label>
                    <br>
                    <select name="Shape" id="deckShape">
                        <option value=""></option>
                        <option value="sConcave">Short Concave</option>
                        <option value="mConcave">Medium Concave</option>
                        <option value="lConcave">Large Concave</option>
                    </select>
                </div>
                <div class="button-container flex-end">
                    <input class="button primary" type="submit" value="Add Deck">
                    <a href="/users/{{userId}}/stores/{{store._id}}" class="button warning">Cancel</a>
                </div>
            </form>
        </div>
    </div>

    <div class='trucksPic'>
        <a href="/trucks">
            <img src="https://i.imgur.com/EgRW14w.png" title="source: imgur.com" />
            <h2>Trucks</h2>
        </a>
        <div class="trucksCard">
            <form action="/users/{{userId}}/stores/{{store._id}}/gifts" method="POST">
                <h2></h2>
                <div class="form-input">
                    <label for="company">Company</label>
                    <br>
                    <select name="Company" id="truckCompany">
                        <option value=""></option>
                        <option value="royal">Royal</option>
                        <option value="thunder">Thunder</option>
                        <option value="independent">Independent</option>
                    </select>
                </div>
                <div class="form-input">
                    <label for="size">Size</label>
                    <br>
                    <select name="Size" id="truckSize">
                        <option value=""></option>
                        <option value="129">129mm</option>
                        <option value="139">139mm</option>
                        <option value="149">149mm</option>
                    </select>
                </div>
                <div class="button-container flex-end">
                    <input class="button primary" type="submit" value="Add Trucks">
                    <a href="/users/{{userId}}/stores/{{store._id}}" class="button warning">Cancel</a>
                </div>
            </form>
        </div>

    </div>

    <div class='wheelsPic'>
        <a href="/wheels">
            <img src="https://i.imgur.com/chHUEVj.png" title="source: imgur.com" />
            <h2>Wheels</h2>
        </a>
        <div class="wheelsCard">
            <form action="/users/{{userId}}/stores/{{store._id}}/gifts" method="POST">
                <h2></h2>
                <div class="form-input">
                    <label for="company">Company</label>
                    <br>
                    <select name="Company" id="wheelCompany">
                        <option value=""></option>
                        <option value="ricta">Ricta</option>
                        <option value="bones">Bones</option>
                        <option value="spitfire">Spitfire</option>
                    </select>
                </div>
                <div class="form-input">
                    <label for="size">Size</label>
                    <br>
                    <select name="Size" id="wheelSize">
                        <option value=""></option>
                        <option value="48">48mm</option>
                        <option value="52">52mm</option>
                        <option value="56">56mm</option>
                    </select>
                </div>
                <div class="button-container flex-end">
                    <input class="button primary" type="submit" value="Add Wheels">
                    <a href="/users/{{userId}}/stores/{{store._id}}" class="button warning">Cancel</a>
                </div>
            </form>
        </div>


    </div>


    <div class='bearingsPic'>
        <a href="/bearings">
            <img src="https://i.imgur.com/nI5iWvv.jpg?1" title="source: imgur.com" />
            <h2>Bearings</h2>
        </a>
        <div class="bearingsCard">
            <form action="/users/{{userId}}/stores/{{store._id}}/gifts" method="POST">
                <h2></h2>
                <div class="form-input">
                    <label for="company">Company</label>
                    <br>
                    <select name="Company" id="bearingCompany">
                        <option value=""></option>
                        <option value="boneSwiss">BoneSwiss</option>
                        <option value="lucky">Lucky</option>
                        <option value="reds">Reds</option>
                    </select>
                </div>
                <div class="form-input">
                    <label for="abec">Abec</label>
                    <br>
                    <select name="Abec" id="abecSize">
                        <option value=""></option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="7">7</option>
                    </select>
                </div>
                <div class="button-container flex-end">
                    <input class="button primary" type="submit" value="Add Bearings">
                    <a href="/users/{{userId}}/stores/{{store._id}}" class="button warning">Cancel</a>
                </div>
            </form>
        </div>

    </div>

    <div class='gripTapePic'>
        <a href="/GripTape">
            <img src="https://i.imgur.com/46nLd1j.jpg?1" title="source: imgur.com" />
            <h2>Griptape</h2>
        </a>
        <div class="gripTapeCard">
            <form action="/users/{{userId}}/stores/{{store._id}}/gifts" method="POST">
                <h2></h2>
                <div class="form-input">
                    <label for="company">Company</label>
                    <br>
                    <select name="Company" id="gripCompany">
                        <option value=""></option>
                        <option value="mob">MOB</option>
                        <option value="jessup">Jessup</option>
                        <option value="grizzly">Grizzly</option>
                    </select>
                </div>
                <div class="form-input">
                    <label for="grit">Grit</label>
                    <br>
                    <select name="Grit" id="Grit">
                        <option value=""></option>
                        <option value="800">800(soft)</option>
                        <option value="500">500(coarse)</option>
                        <option value="200">200(rough)</option>
                    </select>
                </div>
                <div class="button-container flex-end">
                    <input class="button primary" type="submit" value="Add GripTape">
                    <a href="/users/{{userId}}/stores/{{store._id}}" class="button warning">Cancel</a>
                </div>
            </form>
        </div>
    </div>

    <div class='hardwarePic'>
        <a href="/hardware">
            <img src="https://i.imgur.com/AoRLL3K.jpg?1" title="source: imgur.com" />
            <h2>Hardware</h2>
        </a>
        <div class="hardwareCard">
            <form action="/users/{{userId}}/stores/{{store._id}}/gifts" method="POST">
                <h2></h2>
                <div class="form-input">
                    <label for="company">Company</label>
                    <br>
                    <select name="Company" id="hardwareCompany">
                        <option value=""></option>
                        <option value="lucky">Lucky</option>
                        <option value="independent">Independent</option>
                        <option value="silver">Silver</option>
                    </select>
                </div>
                <div class="form-input">
                    <label for="size">Size</label>
                    <br>
                    <select name="Size" id="hardwareSize">
                        <option value=""></option>
                        <option value="7/8">7/8"</option>
                        <option value="1">1"</option>
                    </select>
                </div>
                <div class="button-container flex-end">
                    <input class="button primary" type="submit" value="Add Hardware">
                    <a href="/" class="button warning">Cancel</a>
                </div>
            </form>
        </div>
    </div>

</div>