<div class='navLinks'>
  <a href="/users"> Home </a> /
  <a href="/users/{{user._id}}">Skater</a> / Edit Skater
</div>


<div class="skaterForm">

  <h2>Edit Skater Bruh!</h2>
  <div>
    <form action="/users/{{user._id}}?_method=PUT" method="POST">
      <div class="form-input">
        <label for="name">Name:</label>
        <input type="text" name="name" value="{{user.name}}" required/>
      </div>

      <div class="form-input">
        <label for="nickName">NickName:</label>
        <input type="text" name="nickName" value="{{user.nickName}}" />
      </div>

      <div class="form-input">
        <label for="stance">Stance:</label>
        <input type="text" name="stance" value="{{user.stance}}" required/>
      </div>

      <div class="form-input">
        <label for="photoUrl">Photo Url:</label>
        <input type="text" name="photoUrl" value="{{user.photoUrl}}" />
      </div>

      <div class="button-container flex-end">
        <input class="btn btn-primary" type="submit" value="Update Skater">
        <a href="/users/{{user._id}}" class="btn btn-warning">Cancel</a>
      </div>
    </form>
  </div>
</div>